.mk-sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mk-path-tree-focus {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    justify-content: center;
    height: 100%;
}
.mk-path-tree-focus .mk-focuses-item {
    background: var(--mk-ui-background);
}

.mk-path-tree-focus input {
    width: 60%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    text-align: center;
}
.mk-button-group {
    display: flex;
    gap: 8px;
}

.mk-path-tree-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 12px;
    gap: 8px;
}

.mk-empty-state-description {
    font-size: 14px;
    color: var(--mk-ui-text-secondary);
    text-align: center;
}

.mk-empty-state-title {
    font-size: 16px;
    color: var(--mk-ui-text-primary);
}

.mk-path-tree {
    flex: 1;
    overflow: hidden;
}
.mk-context-tree .tree-item {
    padding: 4px;
}

.mk-context-tree .tree-item-self {
    margin-left: var(--spacing);
    align-items: center;
    padding: 2px 2px;
}

.mk-context-tree .mk-tree-wrapper {
    padding: 0px !important;
}
