.tag-container {
    flex: 1;
}

.mk-button-blink {
    padding: 8px 12px !important;
}

.mk-search {
    display: flex;
    padding: 8px 8px;
    margin: 4px 12px;
    margin-left: 0px;
}

.mk-search svg {
    width: 16px;
    height: 16px;
}

.mk-focus {
    display: flex;
}
.mk-focus-new {
    display: flex;
    align-items: center;
    color: var(--mk-ui-text-secondary);
    opacity: 0.5;
}
.mk-focus-new:hover {
    opacity: 1;
}


.mk-focuses-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;

    color: var(--mk-ui-text-secondary);
    opacity: 0.5;
    cursor: pointer;

    height: 12px;
    min-width: 20px;

    transform: rotate(90deg);
    margin-left: auto;
    margin-top: 10px;
}

.mk-focuses-menu:hover {
    opacity: 1;
}

.mk-focuses-menu svg {
    width: var(--icon-size);
    height: var(--icon-size);
}

.mk-focuses .mk-focuses-item {
    display: flex;
    justify-content: center;
}
.mk-focuses {
    display: flex;
    align-items: flex-start;
    overflow: auto;
    padding: 4px;
}

.mk-focuses-inner {
    flex-wrap: wrap;
    gap: 4px;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    min-width: 0;
}

.mk-sidebar-expanded {
    flex-grow: 1;
}

.mk-focus:hover .mk-focuses-item:not(.mk-active) {
    background: var(--nav-item-background-hover);
}
.mk-focuses-item {
    color: var(--mk-ui-text-secondary);
    height: 30px;
    min-width: 30px;
    padding: 6px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    gap: 4px;
    text-align: center;
    color: var(--icon-color);

    transition: transform 250ms ease;
}
.mk-focuses-item svg,
.mk-focus-new svg {
    width: var(--icon-size);
    height: var(--icon-size);
}

.mk-focuses-item.mk-active {
    --label-color: var(--mk-ui-background-selected);
    color: var(--text-n);
    background-color: var(--label-color);
    opacity: 1;
}
